@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
h1{
    color: white;
    width: 0ch;
    white-space:nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    animation: typetext 2s steps(20) infinite;
}

@keyframes typetext {
    0%{
        width: 0ch;
    }
    100%{
        width: 20ch;
    }
}